/* 'Global reset' + box-sizing-> fazer em todo novo projeto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SEÇÕES DA PÁGINA */
body {
  font-family: sans-serif, Arial, Helvetica;
  font-size: 18px;
  position: relative;
  border-top: 10px solid rgb(43, 157, 196);
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header-1 {
  height: 80px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(240, 240, 240);
  /* margin-bottom: 30px; */
}

nav {
  margin-top: 7px;
}

/* article {
  width: 850px;
  position: relative;
} */

.header-2 {
  position: relative;
}

aside {
  /* width: 500px;
  height: 375px; */
  background-color: rgb(240, 240, 240);
  border-top: 4px solid rgb(43, 157, 196);
  border-bottom: 4px solid rgb(43, 157, 196);
  padding: 40px 20px;
}
/*
footer {
  font-size: 16px;
  clear: both;
  width: 300px;
  height: 50px;
}
*/
/* ELEMENTOS MENORES */

h1,
h2,
h3 {
  color: rgb(43, 157, 196);
}

h1 {
  color: rgb(43, 157, 196);
  text-transform: uppercase;
  margin-left: 40px;
  font-size: 25px;
  font-style: italic;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2,
h3,
h4 {
  margin-bottom: 15px;
}

h4 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 17px;
}

/* article p:nth-child(2) {
  color: rgb(150, 14, 14);
} */

p {
  line-height: 1.5;
  margin-bottom: 15px;
}

/* .mdnWeb {
  margin-bottom: 50px;
} */

.ulMenu {
  list-style: none;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
}

.related {
  list-style: none;
}

li {
  margin-bottom: 8px;
}

ul,
ol {
  margin-left: 20px;
}

button {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 10px;
}

/* Links */

a:link {
  text-decoration: none;
  color: rgb(43, 157, 196);
}

a:visited {
  text-decoration: none;
  color: rgb(43, 157, 196);
}

/* Images */

.girlIMG {
  width: 70px;
}

.author {
  /* padding-top: 10px; */
  /* margin-left: 20px; */
  /* width: 500px; */
  float: right;
  /* display: inline; */
}

.postIMG {
  width: 100%;
  height: 280px;
}

/* Irmãos adjacentes (+) */
/* h3 + p::first-line {
  color: red;
} */

/* After/Before */

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  border: 1px solid black;
  font-size: 16px;
  font-weight: bolder;
  background-color: yellow;
  padding: 3px 8px; /*Para ter paddin precisa ser inline-block*/
  position: absolute;
  right: -25px;
  top: -15px;
}

/* FLOATS - Evitar */

/*
nav {
  float: right;
}

article {
  float: left;
}

aside {
  float: right;
}

h1 {
  float: left;
}

footer {
  float: right;
}
*/

/* FLEXBOX LAYOUT */
/* NOVO: FLEX BOX */
/*
.header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-box {
  display: flex;
  align-items: center;
}

.author {
  margin-bottom: 0;
  margin-left: 20px;
}

.related-li {
  display: flex;
  align-items: center;
  gap: 20px;
}

.related-author {
  margin: 0;
  font-size: 14px;
  margin-top: 5px;
}

.related-link {
  font-size: 16px;
  font-weight: bold;
}


 .page {
  display: flex;
  gap: 75px;
  align-items: flex-start;
  /* 
 Por padrão fica como esticar <ASIDE> Testar para ver comportamento do aside/page  
 */ /*
}

article {
  /* flex: 0 0 825px; */
/* flex: 1; */
/*Flex 1 - permite aos elementos crescerem o máximo possível dentro do espaço disponível*/ /*
}

aside {
  /* DEFAULT
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto; 
*/
/*
  flex: 0 0 300px;
} */

/* GRID LAYOUT */

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 50px;
}

.header-1 {
  grid-column: 1 / -1;
}

/* .aside {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.footer {
  grid-column: 1 / -1;
} */
