* {
  margin: 0;
  padding: 0;
}

.product {
  border: 3px solid black;
  font-size: 1.05rem;
  line-height: 1.3;
  margin: 50px auto;
  width: 825px;
}

.shoesImage {
  width: 275px;
  height: 275px;
}

.title {
  height: 70px;
  background-color: rgba(241, 236, 236, 0.616);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.4px;
  word-spacing: 3px;
}

.pTitle {
  margin: 0;
  padding: 15px;
}

/* PRODUCT INFO */
.price {
  font-size: 1.5rem;
  font-weight: bolder;
}

.shipping {
  font-size: 0.7rem;
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 20px;
}

.prodDetails {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover {
  text-decoration: none;
}

.product-list {
  list-style-type: square;
  margin-left: 17px;
  line-height: 2;
  font-size: 16px;
}

/* CART */
.add-cart {
  width: 100%;
  height: 60px;
  margin: 0;
  border: 0px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.add-cart:hover {
  background-color: white;
  color: black;
  font-weight: bold;
  border-style: none;
  cursor: pointer;
  border-top: 3px solid black;
}
